.light, body {
    --primary: #4F7F8D;
    --inversePrimary: #316369;
    --secondaryContainer: #DCE8EC;
    --onSecondaryContainer: #34464D;
    --background: #F7FAFB;
    --onSurface: #181D1F;
    --onSurfaceAlt: #434A4E;
    --container: #EAF0F2;
    --containerLow: #F1F5F6;

    --star: #E2C900;


}

@mixin dark {
    --primary: #70A0AF;
    --inversePrimary: #316369;
    --secondaryContainer: #39444b;
    --onSecondaryContainer: #d3e0e8;
    --background: #101114;
    --onSurface: #dfe4dc;
    --onSurfaceAlt: #bfc3c9;
    --container: #1c1e21;
    --containerLow: #181a1d;

    --star: #e2e210;
}

.dark { @include dark() }

@media (prefers-color-scheme: dark) {
    body {
        @include dark()
    }
}

.mocha {
    --primary: #cba6f7;
    --inversePrimary: #89b4fa;
    --secondaryContainer: #45475a;
    --onSecondaryContainer: #cdd6f4;
    --background: #11111b;
    --onSurface: #cdd6f4;
    --onSurfaceAlt: #bac2de;
    --container: #181825;
    --containerLow: #1e1e2e;

    --star: #f9e2af;
}

.latte {
    --primary: #04a5e5;
    --inversePrimary: #1e66f5;
    --secondaryContainer: #ccd0da;
    --onSecondaryContainer: #4c4f69;
    --background: #dce0e8;
    --onSurface: #4c4f69;
    --onSurfaceAlt: #4c4f69;
    --containerHigh: #262b26;
    --container: #e6e9ef;
    --containerLow: #eff1f5;

    --star: #df8e1d;
}